.meals {
    width: 33.33%;
    margin: 10px;
    animation: meals-appear 1s ease-out forwards;
    display: inline-block;
    padding: 1rem;
    border-radius: 14px;
    background-color: white;
    }

  

  @keyframes meals-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 0.9;

      transform: translateY(0);
    }
  }