.availableMeals {
    animation: meals-appear 1s ease-out forwards;
    text-align: center;
    width: 100%;
    display: inline-block;
    position: inherit;
}


@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 0.9;
    transform: translateY(0);
  }
}


.mealItem{
  margin-top: 3em;
}