.Order-Page{ 
    position: fixed;
}



.table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    background-color: rgba(230, 224, 218, 0.911);
    border-radius: 10px;
    animation: fade-frames  1s ease-out forwards;
  }

  .table:hover {
    background-color: #cdcdcd;
  }

 .total-price{
   background-color: rgb(238, 148, 58); 
    border-collapse: collapse;
    width: 26%;
    margin-top: 30px;
    border-radius: 10px;
    animation: fade-frames 1s ease-out forwards;
    margin-left: 14rem;
  }