.order-page, .order-page img,
.table, .total-price,
.cart-buttons,.ordering-form
{
  transition: all 0.75s ease-in-out;
  animation: orderForm 1s ease-out forwards;
}


.order-page{
  text-align: center;
}

.order-page img{
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -10;
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}

.tbody tr{
  transition: transform 0.3s ease-in;
  transform: scale(0.9, 0.9);
}

.tbody tr:hover {
  background-color: rgb(149, 154, 158);
  transform: scale(1, 1);
}

.total-price{
  border-collapse: collapse;
  border-radius: 10px;
  margin-top: 30px;
}



/*! Order Form */
.hide-ordering-form{
  display: none;
}

.ordering-form{
  background-color: rgb(126, 121, 121);
  border-radius: 10px;
 
}

@keyframes orderForm {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }

  to {
    opacity: 0.9;
    transform: translateY(0);
  }
}
