.badge {
  background-color: #b94517;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
  transition: all 0.75s ease-in-out;
  animation: bump 500ms ease-out;
}

.drop-down-list{
  display:contents;
  font-weight: bold;
}

.drop-down-list select{
  border-radius: 5px;
  border: 2px solid rgb(189, 126, 18);
  clear:both;
  width:100%;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;

}

.drop-down-list option{
  padding : 30px;
  text-decoration : none;
  background-color:  rgba(51, 40, 20, 0.247);
  clear:both;
  width:100%;
  overflow: hidden;
}


@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
