.Modal {
    position: fixed;
    z-index: 600;
    background-color: rgba(225, 225, 236, 0.5);
    width: 70%;
    border: 1px solid rgb(197, 176, 176);
    box-shadow: 10px 10px 10px rgb(190, 162, 162);
    padding: 16px;
    left: 15%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    transition: all 0.3s ease-in;
    font-weight: bold;
    text-align: center;
    border-radius: 30px 10px 30px 10px;
    overflow: auto; /* Enable scroll if needed
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.1s;
    animation-name: fadeIn;
    animation-duration: 0.5s;
  }
  
  .InnerModal {
    text-align: left;
  }
  
  
  @media (min-width: 600px) {
    .Modal {
      width: 500px;
      left: calc(50% - 250px);
    }
  }
  
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {
      bottom: -300px;
      opacity: 0;
    }
    to {
      bottom: 0;
      opacity: 1;
    }
  }
  
 @keyframes slideIn {
    from {
      bottom: -300px;
      opacity: 0;
    }
    to {
      bottom: 0;
      opacity: 1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  