
 .button{
    z-index: 1;
    position: relative;
    font-size: inherit;
    color: rgb(230, 156, 20);
    padding: 0.5em 1em;
    outline: none;
    border: none;
    border-radius:10px ;
    background-color: hsl(236, 32%, 26%);
    margin: 10px;
    /* width: 100%; */
    font-weight:bold
   }

   .button:hover {
     cursor: pointer;
   }

   .button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 4px solid hsl(236, 32%, 26%);
    border-radius:10px ;
    transform-origin: center;
    transform: scale(1);
  }


  .button:hover::before {
    transition: all 0.75s ease-in-out;
    transform-origin: center;
    transform: scale(1.75);
    opacity: 0;
  }

  .removeButton{
    display: none;
  }

  .activeRemoveButton{
    display: block;
  }

  /*! HeaderButton shopping-cart */
.activeShoppingCarte{
    color:hsl(125, 60%, 35%)
}