.invalidField{
    color:rgb(230, 7, 7);
    transition: all 0.75s ease-in-out;
    animation: invalidField 1s ease-out forwards;

}

@keyframes invalidField {
    from {
      opacity: 0;
      transform: translateY(1rem);
    }

    to {
      opacity: 0.9;
      transform: translateY(0);
    }
  }
